<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-positive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-android-arrow-back"
                data-comp-id="button.1" ng-click="test()"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">
            <text ng-bind="data.ReportNumber"></text>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1"></ion-content>
</ion-view>